<div  style="margin:20px">
    <div class="card">
        <div class="card-body">
            <div class="name">
                <h5 class="card-title">Apple Iphone Xs</h5>
                <p><i class="fas fa-heart"></i></p>
            </div>
            
            <p class="card-text">22.000.000</p>
            <div class="button">
                <!-- <a class="btn btn-primary" 
                >Add to Wishlist</a> -->
                <a class="btn btn-warning"
                >Remove to Wishlist</a>
                <a class="btn btn-danger" 
                >Remove</a>
            </div>
        </div>
    </div>
</div>