<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div style="margin:20px" *ngIf="isShowForm">
        <h2>Add Product</h2>
        <form 
        [formGroup]="formAddProduct"
        (submit)="addProduct()">
          <div class="form-group">
            <label class="col-sm-2">Name: </label>
            <input type="text" class="form-control" placeholder="Enter product name"
            formControlName="name">
          </div>
          <div class="form-group">
            <label class="col-sm-2">Price: </label>
            <input type="text"  class="form-control"  placeholder="Enter price"
            formControlName="price">
          </div>
          <div class="form-group my-btn">
            <input type="submit" class="btn btn-primary" value="ADD" [disabled]="formAddProduct.invalid">
            <input type="button" class="btn btn-danger" value="CANCEL"
            (click)="toggleForm()">
          </div>
        </form>
      </div>
      <div style="margin:20px" >
        <button class="btn btn-success" style="width:47.5%"
        (click)="toggleForm()"
        *ngIf="!isShowForm">Add New Product</button>
      </div>
      <div style="margin:20px" >
        <select class="form-control mg-20"
        [(ngModel)]="filterMode" >
          <option value="SHOW_ALL">SHOW ALL</option>
          <option value="WISHLIST">SHOW WISHLIST</option>
          <option value="NONE_WISHLIST">NONE WISHLIST</option>
        </select>
        <!-- 
          <h2>{{filterMode}}</h2> 
          [(ngModel)] : two way binding
        -->
      </div>
      <div style="margin:20px" 
      *ngFor="let product of products">
        <div class="card"
        *ngIf="filterMode==='SHOW_ALL' ||
        (filterMode==='WISHLIST' && product.wishlist) ||
        (filterMode==='NONE_WISHLIST' && !product.wishlist)">
          <div class="card-body">
            <div class="name">
              <h5 class="card-title">{{product.name}}</h5>
              <p *ngIf="product.wishlist"><i class="fas fa-heart"></i></p>
            </div>
            <p class="card-text">
              {{ product.price | number }}
            </p>
            <div class="button">
              <a *ngIf="!product.wishlist" class="btn btn-primary" 
              (click)="setWishlist(product.id)"
              >Add to Wishlist</a>
              <a *ngIf="product.wishlist"
               class="btn btn-warning"
               (click)="setWishlist(product.id)"
               >Remove to Wishlist</a>
              <a class="btn btn-danger"
              (click)="removeProduct(product.id)"
              >Remove</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- pipe -->
<!-- <pre>
  {{products | json}}
</pre> -->